html {
    scroll-behavior: smooth;
}

:root{
    --color-1: #00411D;
    --color-2: #8CC640;
    --color-3: #D6DE23;
    --color-4: #272727;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    list-style: none;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 10px;
    color: var(--color-1);
}
   
body::-webkit-scrollbar-track {
    background-color: var(--color-2);
}
   
body::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
    outline: 1px solid #8CC640;
    border-radius: 8px;
}

/* ######## Fonts used ########   */

@font-face{
	font-family: poplight;
	src: url(../Poppins/Poppins-Light.ttf);
    font-display: swap;
}

@font-face{
	font-family: popmedium;
	src: url(../Poppins/Poppins-Medium.ttf);
    font-display: swap;
}

@font-face{
	font-family: popregular;
	src: url(../Poppins/Poppins-Regular.ttf);
    font-display: swap;
}

@font-face{
	font-family: popbold;
	src: url(../Poppins/Poppins-Bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: popthin;
    src: url(../Poppins/Poppins-Thin.ttf);
    font-display: swap;
}

@font-face {
    font-family: popsemibold;
    src: url(../Poppins/Poppins-SemiBold.ttf);
    font-display: swap;
}

@font-face {
    font-family: popmediumitalic;
    src: url(../Poppins/Poppins-MediumItalic.ttf);
    font-display: swap;
}

body{
    padding: 0;
    margin: 0;
}

.error{
    width: 100%;
    height: 43px;
    background-color: var(--color-3);
    color: var(--color-1);
    text-align: center;
    position: relative;
    z-index: 1;
    opacity: 90%;
    transition: 0.6s ease;
}

.error .msg{
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 15px;
    transform: translateX(-50%);
}

#dismiss{
    position: absolute;
    top: 35%;
    right: 2%;
    background: transparent;
    background-color: transparent;
    cursor: pointer;
}


.main-nav{
	width: 100%;
	background-color: transparent;
}

.brand-logo{
    float: left;
    height: 60px;
    width: 80px;
    margin-top: 10px;
    margin-left: 34px;
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brand-logo-txt{
    float: left;
    line-height: 15vh;
    letter-spacing: 1px;
    width: auto;
    font-size: 32px;
    color: var(--color-2);
    display: inline;
    font-style: italic;
    margin-left: 25px;
    font-family: poplight;
    position: absolute;
}

.main-nav-links{
    float: right;
}

.main-nav ul li{ 
    display: inline-block;
 	list-style-type: none;
    margin-right: 10px;
}

.main-nav ul li a{
    font-family: poplight;
 	text-decoration: none;
    letter-spacing: 0.5px;
 	color: var(--color-2);
 	line-height: 100px;
	padding: 20px 15px;
	/*font-weight: bold;*/
 	font-size: 16px;
 	letter-spacing: 2px;
 	transition: 0.6s ease;
}

.main-nav ul li a:hover{
 	background-color: var(--color-1);
 	color: #fff;
}

.main-nav ul li a.active{
 	background-color: var(--color-1);
 	color: #fff;
}

/* .transition-fade{
    opacity: 1;
    transition: 1500ms;
}

html.is-animating .transition-fade{
    opacity: 0;
} */

.contactlanding{
    width: 100%;
    height: auto;
    background-color: #8CC640;
}

.contactlanding .picturecontactus{
    width: 100%;
    height: 654px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.2)), url(../img/15_1.png);
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.contactlanding .picturecontactus .flexcontainer{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}

.contactlanding .picturecontactus .video{
    position: absolute;
    left: 5%;
    top: 25%;
    width: 700px;
    height: 350px;
    border-radius: 10px;
}

.contactlanding .picturecontactus .container{
    float: right;
    height: 400px;
    width: 50%;
    position: absolute;
    top: 20%;
    right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contactlanding .picturecontactus .container .info{
    width: 72%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 25%;
}

.contactlanding .picturecontactus .container .info .box{
    position: relative;
    padding: 10px 0;
    display: flex;
}

.contactlanding .picturecontactus .container .info .contactus{
    font-size: 36px;
    color: var(--color-2);
    line-height: 80px;
    font-family: popsemibold;
}

.contactlanding .picturecontactus .container .info .box .mail{
    width: 40px;
    height: 40px;
    margin-right: 8px;
    margin-top: 5px;
    background-image: url(../img/maillight.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mail{
    font-size: 24px;
    color: var(--color-2);
    line-height: 50px;
    font-family: popmedium;
}

.contactlanding .picturecontactus .container .info .box .phone{
    width: 40px;
    height: 40px;
    margin-right: 8px;
    margin-top: 5px;
    background-image: url(../img/calllight.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#number{
    font-size: 24px;
    color: var(--color-2);
    line-height: 50px;
    font-family: popmedium;
}

.contactlanding .picturecontactus .container .info .box .insta{
    width: 40px;
    height: 40px;
    margin-right: 8px;
    margin-top: 5px;
    background-image: url(../img/instagramlight.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#instagram{
    font-size: 24px;
    color: var(--color-2);
    line-height: 50px;
    font-family: popmedium;
}

.contactlanding .picturecontactus .container .info .box .fb{
    width: 40px;
    height: 40px;
    margin-right: 8px;
    margin-top: 5px;
    background-image: url(../img/facebooklight.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#facebook{
    font-size: 24px;
    color: var(--color-2);
    line-height: 50px;
    font-family: popmedium;
}

/*///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////// Contact Us Subsection 1 ////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////*/

.sub1_contact{
    width: 100%;
    height: 605px;
}

.sub1_contact .background{
    width: 100%;
    height: 654px; 
    /* background-image: linear-gradient(rgba(0, 65, 29, 1), rgba(50, 131, 87, 0.7));  */
    background-image: url(../img/grad_sub_1_contactus.png);
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.sub1_contact .background .container_sub1{
    width: 100%;
    height: 654px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.sub1_contact .background .container_sub1 .flex_sub1{
    width: 100%;
    height: 654px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.sub1_contact .background .container_sub1 .flex_sub1 .formcontainer{
    width: 662px;
    height: 580px;
    background-color: var(--color-2);
    border-radius: 30px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 7%;
    top: 1.8%;
}

.sub1_contact .background .container_sub1 .flex_sub1 .formcontainer .form_container{
    width: 662px;
    height: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0%;
}

.sub1_contact .background .container_sub1 .flex_sub1 .formcontainer .form_container .form{
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 10%;
}

.sub1_contact .background .container_sub1 .flex_sub1 .formcontainer .form_container h1{
    margin-top: 25px;
    font-size: 36px;
    color: var(--color-1);
    font-family: popsemibold;
}

label{
    font-size: 20px;
    font-family: popregular;
    color: var(--color-1);
    margin-bottom: 10px;
    margin-top: 10px;
}

#name{
    font-size: 20px;
    width: 100%;
    padding: 12px;
    border: 2px solid #00411D;
    background: transparent;
    border-radius: 8px;
}

#email{
    font-size: 20px;
    width: 100%;
    padding: 12px;
    border: 2px solid #00411D;
    background: transparent;
    border-radius: 8px;
}

#message{
    font-size: 18px;
    width: 100%;
    height: 180px;
    padding: 12px;
    border: 2px solid #00411D;
    background: transparent;
    border-radius: 8px;
    resize: none;
    margin-bottom: 40px;
}

#submitbtn{
    width: 150px;
    height: 40px;
    font-size: 12px;
    font-family: popsemibold;
    letter-spacing: 1.5px;
    line-height: 12px;
    padding: 16px 36px;
    color: var(--color-2);
    background-color: var(--color-1);
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 0 0 15px rgba(1,66,30,0.5);
    transition: 0.6s ease;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom: -1%;
    transform: translateX(-50%);
}

#submitbtn:hover{
    color: var(--color-3);
    background-color: var(--color-4);
}

.sub1_contact .background .container_sub1 .flex_sub1 .trapezoid{
    width: 58%;
    height: 604px;
    background-image: url(../img/trapezoidsu1.png);
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    position: absolute;
    right: 0%;
    top: 0%;
}

/* .sub1_contact .background .container_sub1 .footer_contactsub1{
    width: 100%;
    height: 50px;
    background-image: url(../img/gradfoot.png);
    position: absolute;
    bottom: 0%;
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.sub1_contact .background .container_sub1 .footer_contactsub1 .imagefooterflex{
    height: 50px;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    float: right;
}

.sub1_contact .background .container_sub1 .footer_contactsub1 .imagefooterflex .linkinsta{
    width: 30px;
    height: 30px;
    background-image: url(../img/instagram.png);
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.sub1_contact .background .container_sub1 .footer_contactsub1 .imagefooterflex .linkfb{
    width: 30px;
    height: 30px;
    background-image: url(../img/facebook.png);
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
} */

.footer{
    width: 100%;
    height: 400px;
    position: relative;
}

.footer .footer1{
    width: 100%;
    height: 400px;
    background-color: var(--color-2);
    position: absolute;
    left: 0%;
    top: 0%;
}

.footer .footer1 .footercontent{
    width: 100%;
    height: 300px;
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .footer1 .footercontent .footerlogo{
    position: relative;
    left: 5%;
    height: 300px;
}

.footer .footer1 .footercontent .footerlogo h1{
    font-size: 32px;
    font-family: popregular;
    color: var(--color-1);
    letter-spacing: 1px;
}

.footer .footer1 .footercontent .footerlogo h3{
    font-size: 20px;
    font-family: popmedium;
    font-style: italic;
    letter-spacing: 0.5px;
    color: var(--color-1);
    line-height: 25px;
    margin-top: 50px;
}

.footer .footer1 .footercontent .footerlogo h2{
    font-size: 27px;
    font-family: popsemibold;
    letter-spacing: 0.5px;
    color: var(--color-1);
    line-height: 25px;
    margin-top: 20px;
}

.footer .footer1 .footercontent .explore{
    position: relative;
    height: 300px;
}

.footer .footer1 .footercontent .explore h1{
    font-size: 32px;
    font-family: popregular;
    color: var(--color-1);
    letter-spacing: 1px;
}


.footer .footer1 .footercontent .explore h2{
    font-size: 20px;
    font-family: popregular;
    letter-spacing: 0.5px;
    color: var(--color-1);
    line-height: 25px;
    margin-top: 15px;
    transition: 0.6s ease;
    cursor: pointer;
}

.footer .footer1 .footercontent .explore h2:hover{
    color: var(--color-3);
}

.footer .footer1 .footercontent .policies{
    position: relative;
    right: 10%;
    height: 300px;
}

.footer .footer1 .footercontent .policies h1{
    font-size: 32px;
    font-family: popregular;
    color: var(--color-1);
    letter-spacing: 1px;
}

.footer .footer1 .footercontent .policies h2{
    font-size: 20px;
    font-family: popregular;
    letter-spacing: 0.5px;
    color: var(--color-1);
    line-height: 25px;
    margin-top: 15px;
    transition: 0.6s all;
    cursor: pointer;
}

.footer .footer1 .footercontent .policies h2:hover{
    color: var(--color-3);
}

.footer .footer2{
    width: 100%;
    height: 50px;
    background-color: var(--color-1);
    position: absolute;
    left: 0%;
    bottom: 0%;
}

.footer .footer2 h1{
    font-family: popbold;
    font-size: 15px;
    color: var(--color-2);
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
}

#copyrightbtn{
    color: var(--color-2);
    transition: 0.6s ease;
    font-family: popbold;
    font-size: 15px;
}

#copyrightbtn:hover{
    color: var(--color-3);
}

