html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/*Variables*/

:root{
    --color-1: #00411D;
    --color-2: #8CC640;
    --color-3: #D6DE23;
    --color-4: #272727;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    list-style: none;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 1.45rem;
    color: var(--color-1);
}
   
body::-webkit-scrollbar-track {
    background-color: var(--color-2);
}
   
body::-webkit-scrollbar-thumb {
    background-color: var(--color-1);
    outline: 0.145rem solid #8CC640;
    border-radius: 1.16rem;
}

/* ######## Fonts used ########   */

@font-face {
    font-family: poplight;
    src: url(../Poppins/Poppins-Light.ttf);
    font-display: swap;
}

@font-face {
    font-family: popmedium;
    src: url(../Poppins/Poppins-Medium.ttf);
    font-display: swap;
}
@font-face{
	font-family: popregular;
	src: url(../Poppins/Poppins-Regular.ttf);
    font-display: swap;
}

@font-face{
	font-family: popbold;
	src: url(../Poppins/Poppins-Bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: popthin;
    src: url(../Poppins/Poppins-Thin.ttf);
    font-display: swap;
}

@font-face {
    font-family: popsemibold;
    src: url(../Poppins/Poppins-SemiBold.ttf);
    font-display: swap;
}

@font-face {
    font-family: popmediumitalic;
    src: url(../Poppins/Poppins-MediumItalic.ttf);
    font-display: swap;
}

body{
    padding: 0;
    margin: 0;
}

.error{
    width: 100%;
    height: 4.3rem;
    background-color: var(--color-3);
    color: var(--color-1);
    text-align: center;
    position: relative;
    z-index: 1;
    opacity: 90%;
    transition: 0.6s ease;
}

.error .close{
    position: absolute;
    top: 20%;
    right: 2%;
    background: transparent;
    background-color: transparent;
    cursor: pointer;
}

.error .msg{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.main-nav{
    width: 100%;
    background-color: transparent;
}

.brand-logo{
    float: left;
    height: 8.7rem;
    width: 11.6rem;
    margin-top: 1.4rem;
    margin-left: 4.9rem;
    background-image: url(../img/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.brand-logo-txt{
    position: absolute;
    left: 8%;
    float: left;
    line-height: 14.2rem;
    letter-spacing: 0.145rem;
    width: auto;
    font-size: 4.6rem;
    color: var(--color-1);
    display: inline;
    font-style: italic;
    margin-left: 3.6rem;
    font-family: poplight;
    z-index: 1;
}

.main-nav-links{
    float: right;
}

.main-nav ul li{ 
    display: inline-block;
     list-style-type: none;
    margin-right: 1.45rem;
}

.main-nav ul li a{
    font-family: popregular;
    text-decoration: none;
    letter-spacing: 0.072rem;
    color: var(--color-1);
    line-height: 14.45rem;
    padding: 2.9rem 2.18rem;
    /*font-weight: bold;*/
    font-size: 2.3rem;
    letter-spacing: 0.29rem;
    transition: 0.6s ease;
}

.main-nav ul li a:hover{
     background-color: var(--color-2);
     color: #fff;
}

.main-nav ul li a.active{
     background-color: var(--color-2);
     color: #fff;
}

#copyrightbtn{
    color: var(--color-2);
    transition: 0.6s ease;
    font-family: popbold;
    font-size: 2.17rem;
}

#copyrightbtn:hover{
    color: var(--color-3);
}

#btntop{
    position: fixed;
    right: 1.45rem;
    bottom: 1.45rem;
    height: 7.25rem;
    width: 7.25rem;
    border-radius: 50%;
    border: none;
    background: var(--color-3);
    box-shadow: 0 0 1.45rem rgba(1,66,30,0.25);
    color: var(--color-1);
    outline: none;
    transition: 0.6s ease;
    z-index: 1;
    cursor: pointer;
}

#btntop:hover{
    background: var(--color-4);
    color: var(--color-3);
}

#bthtop:active{
    background: var(--color-4);
    color: var(--color-3);
}

.landing{
    width: 100%;
    height: auto;
    background-color: #fff;
}

.picture{
    width: 100%;
    height: 94.8rem;
    /*background-image: linear-gradient(to bottom left, url(../img/1.jpg));*/
    background-image: linear-gradient(30deg, rgba(101, 206, 148, 0.25),rgba(1,66,30,0.2),rgba(229,229,229,0.15),rgba(229,229,229,0.1)), url(../img/1_1.png);
    /*background-image: url(../img/1\ 1.png);
    /*background-image: url(../img/Homeoverlay.png);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider{
    width: 100%;
    height: 91.3rem;
    /*background-image:linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60),rgba(0,0,0,0.38),rgba(0,0,0,0)), url(../img/1.jpg);*/
    display: flex;
    align-items: center;
}

.slider .title
{
    width: 40%;
    height: auto;
    position: absolute;
    left: 25%;
    top: 40%;
}

.slider .title h1{
   font-size: 8.7rem;
   color: var(--color-1);
   font-weight: bold;
   line-height: 9.4rem;
   font-family: popregular;
   /*margin-bottom: 70rem;*/
}


.slider .title p{
    font-size: 3.9rem;
    color: var(--color-1);
    line-height: 1.5;
    margin-top: 3.6rem;
    padding-right: 2.9rem;
    font-family: popregular;
}

#span1 {
    font-size: 5.4rem;
    color: var(--color-1);
    line-height: 1.5;
    margin-top: 3.6rem;
    padding-right: 2.9rem;
    font-family: popregular;
}


.slider .title .btn{
    font-family: poplight;
    font-weight: 600;
    color: var(--color-1);
    background-color: var(--color-2);
    border-radius: 0.35rem;
    padding: 2.0rem 4.06rem;
    text-align: center;
    letter-spacing: 0.072rem;
    text-decoration: none;
    margin-right: 8.7rem;
    line-height: 3.77rem;
    display: inline-block;
    font-size: 2.3rem;
    margin-top: 2.18rem;
    transition: 0.6s ease;
    box-shadow: 0 0 1.45rem rgba(1,66,30,0.25);
    cursor: pointer;
}

.slider .title .btn:hover{
    background-color: #272727;
    color: var(--color-2);
}

.popup {
    width: 70%;
    max-width: 80%;
    height: 65.2rem;
    position: fixed;
    transition: 200ms ease-in;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 1.45rem;
    z-index: 10;
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.popup .popupgetmore {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--color-2);
    display: flex;
    flex-direction: column;
    border-radius: 1.45rem;
}

.popup .popupgetmore .picgetmore {
    width: 100%;
    height: 25%;
    background-image: linear-gradient(30deg, rgba(190, 190, 190, 0.5), rgba(190, 190, 190, 0.5), rgba(190, 190, 190, 0.5), rgba(190, 190, 190, 0.5)), url(../img/16.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.45rem 1.45rem 0rem 0rem;
}

.popup .popupgetmore .getmoreflexbox {
    position: absolute;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.popup .popupgetmore .popuptitle {
    position: relative;
    top: 50%;
    left: 5%;
    transform: translateY(-25%);
    font-size: 5.1rem;
    font-family: popbold;
    color: var(--color-1);
}

.popup .popupgetmore .close-popup-getmore{
    position: relative;
    right: 2.5%;
    font-size: 4.35rem;
    font-family: popbold;
    color: var(--color-1);
    background-color: transparent;
    border: none;
    box-sizing: 0.72rem 0.72rem 0.72rem 0.72rem;
    transition: 0.6s ease;
    cursor: pointer;
}

.popup .popupgetmore .close-popup:hover {
    color: var(--color-2);
}

.popup .popupbody {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 70%;
    font-size: 3rem;
    font-family: popmedium;
    color: var(--color-1);
    text-align: start;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    transition: 200ms ease-in;
    z-index: 9;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#popupvideohome {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: transparent;
    transition: 200ms ease-in;
    z-index: 11;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#videohome{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    background-size: contain;
    overflow: hidden;
}

#close-popup-video {
    position: absolute;
    right: 8%;
    top: 1%;
    font-size: 4.35rem;
    font-family: popbold;
    color: var(--color-1);
    background-color: transparent;
    border: none;
    box-sizing: 0.72rem 0.72rem 0.72rem 0.72rem;
    transition: 0.6s ease;
    cursor: pointer;
    z-index: 4;
}

#close-popup-video:hover {
    color: var(--color-2);
}

.c1{
    position: absolute;
    width: 58rem;
    height: 58rem;
    top: 0rem;
    left: 0rem; 
}

.c2{
    position: absolute;
    width: 43.47rem;
    height: 36.8rem;
    top: 57.96rem;
    right: 0rem;
}

.whyus{
    width: 100%;
    height: 94.8rem;
    background-color: var(--color-2);
    position: relative;
}

.whyus .img{
    width: 50%;
    height: 94.8rem;
    background-image: url(../img/Home_sub1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.whyus .flexbox{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    left: 50%;
    top: 10%;
}

.whyus .flexbox h1{
    font-size: 7.8rem;
    color: var(--color-1);
    font-weight: bold;
    line-height: 8.7rem;
    font-family: popbold;
    text-align: center;
}

.whyus .flexbox p{
    font-size: 3.9rem;
    text-align: center;
    color: var(--color-1);
    line-height: 5.8rem;
    font-family: popmedium;
    margin-top: 4.35rem;
}

.aboutus{
    width: 100%;
    height: 94.8rem;
    background-color: var(--color-1);
    position: relative;
}

.aboutus .flexbox1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    right: 50%;
    top: 10%;
}

.aboutus .flexbox1 h1{
    font-size: 7.8rem;
    color: var(--color-2);
    font-weight: bold;
    line-height: 8.7rem;
    font-family: popbold;
    text-align: center;
}

.aboutus .flexbox1 p{
    font-size: 3.9rem;
    text-align: center;
    color: var(--color-2);
    line-height: 5.8rem;
    font-family: popmedium;
    margin-top: 4.35rem;
}


.aboutus .img_about{
    position: absolute;
    right: 0%;
    width: 52%;
    height: 94.8rem;
    background-image: url(../img/Home_sub2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutus .quoteimg_about{
    position: absolute;
    bottom: 0%;
    right: 35%;
    width: 50%;
    height: 40.6rem;
    background-image: url(../img/aboutus2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer{
    width: 100%;
    height: 50.7rem;
    position: relative;
}

.footer .footer1{
    width: 100%;
    height: 50.7rem;
    background-color: var(--color-2);
    position: absolute;
    left: 0%;
    top: 0%;
}

.footer .footer1 .footercontent{
    width: 100%;
    height: 43.47rem;
    position: absolute;
    top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .footer1 .footercontent .footerlogo{
    position: relative;
    left: 5%;
    height: 43.47rem;
}

.footer .footer1 .footercontent .footerlogo h1{
    font-size: 4.6rem;
    font-family: popregular;
    color: var(--color-1);
    letter-spacing: 0.145rem;
}

.footer .footer1 .footercontent .footerlogo h3{
    font-size: 2.9rem;
    font-family: popmediumitalic;
    letter-spacing: 0.073rem;
    color: var(--color-1);
    line-height: 3.6rem;
    margin-top: 7.2rem;
}

.footer .footer1 .footercontent .footerlogo h2{
    font-size: 3.9rem;
    font-family: popsemibold;
    letter-spacing: 0.073rem;
    color: var(--color-1);
    line-height: 3.6rem;
    margin-top: 2.9rem;
}

.footer .footer1 .footercontent .explore{
    position: relative;
    height: 43.47rem;
}

.footer .footer1 .footercontent .explore h1{
    font-size: 4.6rem;
    font-family: popregular;
    color: var(--color-1);
    letter-spacing: 0.145rem;
}


.footer .footer1 .footercontent .explore h2{
    font-size: 2.9rem;
    font-family: popregular;
    letter-spacing: 0.073rem;
    color: var(--color-1);
    line-height: 3.6rem;
    margin-top: 2.17rem;
    transition: 0.6s ease;
    cursor: pointer;
}

.footer .footer1 .footercontent .explore h2:hover{
    color: var(--color-3);
}

.footer .footer1 .footercontent .policies{
    position: relative;
    right: 10%;
    height: 43.47rem;
}

.footer .footer1 .footercontent .policies h1{
    font-size: 4.63rem;
    font-family: popregular;
    color: var(--color-1);
    letter-spacing: 0.145rem;
}

.footer .footer1 .footercontent .policies h2{
    font-size: 2.9rem;
    font-family: popregular;
    letter-spacing: 0.073rem;
    color: var(--color-1);
    line-height: 3.6rem;
    margin-top: 2.17rem;
    transition: 0.6s all;
    cursor: pointer;
}

.footer .footer1 .footercontent .policies h2:hover{
    color: var(--color-3);
}

.footer .footer2{
    width: 100%;
    height: 7.4rem;
    background-color: var(--color-1);
    position: absolute;
    left: 0%;
    bottom: 0%;
}

.footer .footer2 h1{
    font-family: popbold;
    font-size: 2.17rem;
    color: var(--color-2);
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
}


/*                         MEDIA QUERY 1536 PIXELS START
####################################################################################
####################################################################################
####################################################################################
####################################################################################*/

@media only screen and (max-width: 1536px){
    html {
        font-size: 50%;
    }
}

/*                         MEDIA QUERY 1536 PIXELS END
####################################################################################
####################################################################################
####################################################################################
####################################################################################*/



/*                         MEDIA QUERY 1440 PIXELS START
####################################################################################
####################################################################################
####################################################################################
####################################################################################*/

@media only screen and (max-width: 1440px){
    html {
        font-size: 46.875%;
    }
}

/*                         MEDIA QUERY 1440 PIXELS END
####################################################################################
####################################################################################
####################################################################################
####################################################################################*/



/*                         MEDIA QUERY 1366 PIXELS START
####################################################################################
####################################################################################
####################################################################################
####################################################################################*/

@media only screen and (max-width: 1366px){
    html {
        font-size: 44.466%;
    }
}

/*                         MEDIA QUERY 1366 PIXELS END
####################################################################################
####################################################################################
####################################################################################
####################################################################################*/



/*                         MEDIA QUERY 1280 PIXELS START
####################################################################################
####################################################################################
####################################################################################
####################################################################################*/

@media only screen and (max-width: 1280px){
    html {
        font-size: 41.667%;
    }
}

/*                         MEDIA QUERY 1280 PIXELS END
####################################################################################
####################################################################################
####################################################################################
####################################################################################*/



/*                         MEDIA QUERY 1024 PIXELS START
####################################################################################
####################################################################################
####################################################################################
####################################################################################*/

@media only screen and (max-width: 1024px){
    html {
        font-size: 33.333%;
    }
}

/*                         MEDIA QUERY 1024 PIXELS END
####################################################################################
####################################################################################
####################################################################################
####################################################################################*/



/*                         MEDIA QUERY 768 PIXELS START
####################################################################################
####################################################################################
####################################################################################
####################################################################################*/

@media only screen and (max-width: 768px){
    html {
        font-size: 25%;
    }
}

/*                         MEDIA QUERY 768 PIXELS END
####################################################################################
####################################################################################
####################################################################################
####################################################################################*/