<section class="footer">
    <div class="footer1">
        <div class="footercontent">
            <div class="footerlogo">
                <h1>A’ashab-ul-Hayyat</h1>
                <h3>"The art of healing comes from nature, <br>not from the physician."</h3>
                <h2>-Paracelsus</h2>
            </div>
                <div class="explore">
                <h1>Explore</h1>
                <a id="btntop2"><h2>Home</h2></a>
                <a href="Remedies.html"><h2>Remedies</h2></a>
                <a href="Contact.html"><h2>Contact Us</h2></a>
                <a href="Login.html"><h2>Login</h2></a>
            </div>
            <div class="policies">
                <h1>Legal</h1>
                <a href="https://privacyterms.io/view/pyElS87R-P1oWe1Pq-yyeNIP/#"><h2>Privacy policy</h2></a>
                <a href="https://www.termsfeed.com/live/639aa683-92af-4db2-ab3f-37f7cfd11718"><h2>Terms & Conditions</h2></a>
                {{!-- <a href="#"><h2>Guidelines</h2></a> --}}
            </div>
        </div>
    </div>
    <div class="footer2">
        <h1>2021 &copy; <a href="https://www.instagram.com/seeb_rj17/" id="copyrightbtn" target="_blank">Seeb_RJ17</a> | Created by Haseeb Rajpoot</h1>
    </div>
</section>