<header>
    <a href="/">
        <img src="/public/img/logo.png" alt="Herbs" class=".brand-logo">
        <div class="brand-logo-txt">A'ashab-ul-Hayyat</div>
    </a>
    <nav class="main-nav">
        <ul class="main-nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="Remedies.html">Remedies</a></li>
            <li><a href="Contact.html">Contact Us</a></li>
            <li><a href="Login.html">Login</a></li>
        </ul>
    </nav>
    <script>
        const currentLocation = location.href;
        const menuItems = document.querySelectorAll('a');
        const menuLength = menuItems.length;
        for (let i = 0; i<menuLength; i++){
            if(menuItems[i].href === currentLocation){
                menuItems[i].className = "active"
            }
        }
    </script>
</header>
