<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="css/404.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="shortcut icon" type="image/svg" href="fonts/svg/logo1.svg"/>
    <script defer src="/node_modules/swup/dist/swup.min.js"></script>
    <script defer src="js/script.js"></script>
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
</head>
<body>
    {{>navbar}}
    <main id="swup" class="transition-fade">
    <var>{{errorComment}}</var>
    <div class="background">
        <div class="graphic"></div>
        <div class="comment"></div>
    </div>
    </main>
</body>
</html>