<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contact.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="fonts/mycollection_2/font/flaticon.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="shortcut icon" type="image/svg" href="fonts/svg/logo1.svg"/>
    <script defer src="node_modules/swup/dist/swup.min.js"></script>
    <script defer src="js/script.js"></script>
    <script type="text/javascript" src="../../src/app.js" defer></script>
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    <title>A'ashab-ul-Hayyat</title>
    <title>Contact Us</title>
</head>
<body>
    {{#if message}}
    <div style="text-align: center;" id="error" class="error alert{{message.type}}">
        <a style="cursor: pointer;" type="button" class="close" id="btnstate" value="Remove" onclick="removeDiv(this)"><img style="width: 10px; height: 10px;" type="image/svg" src="fonts/svg/cross-sign.svg" alt="cross"></a>
        <div class="msg"><strong>{{message.intro}}</strong> {{message.message}}</div>
    </div>
    {{/if}}
    {{>navbar}}
    <main id="swup" class="transition-fade">
        <section class="contactlanding">
            <div class="picturecontactus">
                <div class="flexcontainer">
                    <div class="video">
                        <video id="video" width="700" height="350" src="video/ITGS_IA_VIDEO_CONTACT_US.mp4" autoplay loop disablePictureInPicture zoom="0.01%"><source src="../../public/video/c1.mp4" type="video/mp4"></video>
                    </div>
                    <div class="container">
                        <div class="info">    
                            <h1 class="contactus">Contact Us</h1>
                            <div class="box">
                                <a href="https://auto:blank"><div class="mail"></div></a>
                                <div class="text">
                                    <h2 id="mail">Herbs@aashabulhayyat.com</h2>
                                </div>
                            </div>
                            <div class="box">
                                <a href="https://auto:blank"><div class="phone"></div></a>
                                <div class="text">
                                    <h2 id="number">+92----------</h2>
                                </div>
                            </div>
                            <div class="box">
                                <a href="https://auto:blank"><div class="insta"></div></a>
                                <div class="text">
                                    <h2 id="instagram">A’ashab-ul-Hayyat</h2> 
                                </div>
                            </div>           
                            <div class="box">
                                <a href="https://auto:blank"><div class="fb"></div></a>
                                <div class="text">
                                    <h2 id="facebook">A’ashab-ul-Hayyat</h2>
                                </div>                        
                            </div>    
                        </div>
                    </div>
                </div>    
            </div>
        </section>
        <section class="sub1_contact">
            <div class="background">
                <div class="container_sub1">
                    <div class="flex_sub1">
                        <div class="formcontainer">
                            <div class="form_container">
                                <h1>Send us a Message</h1>
                                <form action="/Contact.html" method="POST" class="form">    
                                    <label for="name">Name:</label>
                                    <input type="text" required name="name" id="name">
                                    <label for="email">Email:</label>
                                    <input type="email" required name="email" id="email">
                                    <label for="message">Message:</label>
                                    <textarea type="text" required name="message" id="message"></textarea>
                                    <input type="submit" id="submitbtn" value="Submit">
                                </form>
                            </div>
                        </div>
                        <div class="trapezoid"></div>
                    </div>
                    {{!-- <div class="footer_contactsub1">
                        <div class="imagefooter">
                            <div class="imagefooterflex">    
                                <a href="https://auto:blank"><div class="linkinsta"></div></a>
                                <a href="https://auto:blank"><div class="linkfb"></div></a>
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>
        </section>
        <section class="footer">
            <div class="footer1">
                <div class="footercontent">
                    <div class="footerlogo">
                        <h1>A’ashab-ul-Hayyat</h1>
                        <h3>"The art of healing comes from nature, <br>not from the physician."</h3>
                        <h2>-Paracelsus</h2>
                    </div>
                        <div class="explore">
                        <h1>Explore</h1>
                        <a href="/"><h2>Home</h2></a>
                        <a href="Remedies.html"><h2>Remedies</h2></a>
                        <a id="btntopcontact"><h2>Contact Us</h2></a>
                        <a href="Login.html"><h2>Login</h2></a>
                    </div>
                    <div class="policies">
                        <h1>Legal</h1>
                        <a href="/PrivacyPolicy.html"><h2>Privacy policy</h2></a>
                        <a href="/Termscondition.html"><h2>Terms & Conditions</h2></a>
                        {{!-- <a href="#"><h2>Guidelines</h2></a> --}}
                    </div>
                </div>
            </div>
            <div class="footer2">
                <h1>2022 &copy; <a href="https://github.com/haseebrj17" id="copyrightbtn" target="_blank">Seeb_RJ17</a> | Created by Haseeb Rajpoot</h1>
            </div>
        </section>
    </main>
    <script>
        function removeDiv(btnstate){
            const errDiv = document.getElementById("error");
            errDiv.parentNode.removeChild(errDiv);
        }
    </script>
    <script>
        const btntop = document.querySelector("#btntopcontact");

        btntop.addEventListener("click", function () {
            window.scrollTo(0, 0);
        });  
    </script>

</body>
</html>