<!DOCTYPE html>
<html lang="en">
<head>
    <title>A'ashab-ul-Hayyat</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/svg" href="fonts/svg/logo1.svg"/>
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    <title>A'ashab-ul-Hayyat</title>
</head>
<body>
    {{#if message}}
    <div style="text-align: center;" id="error" class="error alert{{message.type}}">
        <a style="cursor: pointer;" type="button" class="close" id="btnstate" value="Remove" onclick="removeDiv(this)"><img style="width: 10px; height: 10px;" type="image/svg" src="fonts/svg/cross-sign.svg" alt="cross"></a>
        <div class="msg"><strong>{{message.intro}}</strong> {{message.message}}</div>
    </div>
    {{/if}}
    <button id="btntop"><i class="material-icons">arrow_upward</i></button>    
    {{>navbar}}
    <main id="swup" class="transition-fade">
        <section class="landing">
            <div class="overlay">
                <div class="picture">
                    <div class="slider">
                        <div class="title">
                            <h1>Herbs Of Life</h1>
                            <p>Life is not merely to be <span id="span1">Alive, </span><br>but to be <span id="span1">Well.</span></p>
                            <a data-popup-target="#popupgetmore" class="btn">Get More</a>
                            <a data-popup-target="#popupvideo" class="btn">Watch Video</a>
                        </div>
                    </div>
                    <div class="popup" id="popupgetmore">
                        <div class="popupgetmore">
                            <div class="picgetmore"></div>
                            <div class="getmoreflexbox">
                                <h1 class="popuptitle">A Bit More About Us</h1>
                                <button data-close-button class="close-popup-getmore">&times;</button>
                            </div>
                        </div>
                        <p1 class="popupbody">Being healthy should be part of your overall lifestyle. Living a healthy lifestyle can help prevent chronic diseases and long-term illnesses. Feeling good about yourself and taking care of your health are important for your self-esteem and self-image. Maintain a healthy lifestyle by doing what is right for your body. Good health is not just the absence of disease or illness, it is a state of complete physical, mental and social well-being. This means eating a balanced diet, getting regular exercise, avoiding tobacco and drugs and getting plenty of rest</p1>
                    </div>
                    <div class="popup" id="popupvideo">
                        <div id="popupvideohome">
                            <button data-close-button id="close-popup-video">&times;</button>
                            <div id="videohome">
                                <video id="video" width="100%" height="100%" src="video/production ID_4441000.mp4" autoplay loop disablePictureInPicture></video>
                            </div>
                        </div>
                    </div>
                    <div id="overlay"></div>
                </div>
            </div>
        </section>
        <img src="./img/grad1.png" class="c1">
        <img src="./img/grad2.png" class="c2">
        <section class="whyus">
            <div class="img"></div>
            {{!<img src="../../public/img/Home_sub1.png">!}}
            <div class="flexbox">
                <h1>Why Us</h1>
                <p>A healthy and good life can only be achieved from a combination of Herbs, Diet and Exercise. But to nail all of these you have to have really percistent knowledge about all of these at the same time. This can be achieved easily if you trust us and follow all the remedies, diet tips and exercise tips. And we will be uploading every week at least three posts in the memeber-only area. So go and register!</p>
            </div>
        </section>
        <section class="aboutus">
            <div class="flexbox1">
                <h1>About Us</h1>
                <p>Hello we are a group of <br>collage friends who love having <br>a healthy and balanced life <br>and share the secrets for<br> a great life to other</p>
            </div>
            <div class="img_about"></div>
            <div class="quoteimg_about"></div>
        </section>
        <section class="footer">
            <div class="footer1">
                <div class="footercontent">
                    <div class="footerlogo">
                        <h1>A’ashab-ul-Hayyat</h1>
                        <h3>"The art of healing comes from nature, <br>not from the physician."</h3>
                        <h2>-Paracelsus</h2>
                    </div>
                    <div class="explore">
                        <h1>Explore</h1>
                        <a id="btntop2"><h2>Home</h2></a>
                        <a href="Remedies.html"><h2>Remedies</h2></a>
                        <a href="Contact.html"><h2>Contact Us</h2></a>
                        {{# if loggedIn}}
                            <a href="Logout.html"><h2>Logout</h2></a>
                        {{else}}
                            <a href="Login.html"><h2>Login</h2>></a>
                        {{/if}}
                    </div>
                    <div class="policies">
                        <h1>Legal</h1>
                        <a href="/PrivacyPolicy.html"><h2>Privacy policy</h2></a>
                        <a href="/Termscondition.html"><h2>Terms & Conditions</h2></a>
                        {{!-- <a href="#"><h2>Guidelines</h2></a> --}}
                    </div>
                </div>
            </div>
            <div class="footer2">
                <h1>2022 &copy; <a href="https://github.com/haseebrj17" id="copyrightbtn" target="_blank">Seeb_RJ17</a> | Created by Haseeb Rajpoot</h1>
            </div>
        </section>
    </main>
    <script>
        function removeDiv(btnstate){
            const errDiv = document.getElementById("error");
            errDiv.parentNode.removeChild(errDiv);
        }
    </script>
    <script>
        const btntop = document.querySelector("#btntop");

        btntop.addEventListener("click", function () {
            window.scrollTo(0, 0);
        });  
    </script>
    <script>
        const btntop2 = document.querySelector("#btntop2");

        btntop2.addEventListener("click", function () {
            window.scrollTo(0, 0);
        });
    </script>
    <script>
        const openPopUp = document.querySelectorAll('[data-popup-target]');
        const closePopUp = document.querySelectorAll('[data-close-button]');
        const overlay = document.getElementById('overlay');

        openPopUp.forEach(button => {
            button.addEventListener('click', () => {
                const popup = document.querySelector(button.dataset.popupTarget)
                openPopup(popup)
            })
        })

        overlay.addEventListener('click', () => {
            const popups = document.querySelectorAll('.popup.active')
            popups.forEach(popup => {
                closePopup(popup)
            })
        })

        closePopUp.forEach(button => {
            button.addEventListener('click', () => {
                const popup = button.closest('.popup')
                closePopup(popup)
            })
        })

        function openPopup(popup) {
            if (popup == null) return
            popup.classList.add('active')
            overlay.classList.add('active')
        }

        function closePopup(popup) {
            if (popup == null) return
            popup.classList.remove('active')
            overlay.classList.remove('active')
        }
    </script>
</body>
</html>
