<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/public/css/master.css">
    <script defer src="/node_modules/swup/dist/swup.min.js"></script>
    <script defer src="/public/js/script.js"></script>
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    <title>A'ashab-ul-Hayyat</title>
    <title>Login</title>
</head>
<body>
    {{>navbar}}
    <main id="swup" class="transition-fade">
        <h1> This is Login! </h1>
        <h2 style="position: absolute; top:50%; left:50%;">Not a memeber yet: <a href="/Register.html">Register</a></h2>
    </main>
</body>
</html>