<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" type="image/svg" href="fonts/svg/logo1.svg"/>
    <script defer src="/node_modules/swup/dist/swup.min.js"></script>
    <script defer src="js/script.js"></script>
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    <title>A'ashab-ul-Hayyat - Register</title>
</head>
<body>
    {{#if message}}
    <div style="text-align: center;" id="error" class="error alert{{message.type}}">
        <a style="cursor: pointer;" type="button" class="close" id="dismiss" value="Remove" onclick="removeDiv(this)"><img style="width: 10px; height: 10px;" type="image/svg" src="fonts/svg/cross-sign.svg" alt="cross"></a>
        <div class="msg"><strong>{{message.intro}}</strong> {{message.message}}</div>
    </div>
    {{/if}}
    <div id="circle1"></div>
    {{>navbar}}
    <main id="swup" class="transition-fade">
        <section class="register">
            <div class="bgpicture">
                <div class="flexbox">
                    <h1>Join the <span>Fun!</span></h1>
                    <div class="formcontainer">
                        <h1>Are you ready!</h1>
                        <form action="/Register.html" method="POST" class="form">
                            <label for="name">Username:</label>
                            <input type="text" name="name" required id="name">
                            <label for="email" style="margin-left: 8px;">Email:</label>
                            <input type="email" name="email" required id="email">
                            <label for="password">Password:</label>
                            <input type="password" name="password" required id="password"></input>
                            <input type="submit" id="registerbtn" value="Join Now">
                        </form>
                        <h1 class="loglink">Already a member: <a href="Login.html">Login</a></h1>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="footer">
            <div class="footer1">
                <div class="footercontent">
                    <div class="footerlogo">
                        <h1>A’ashab-ul-Hayyat</h1>
                        <h3>"The art of healing comes from nature, <br>not from the physician."</h3>
                        <h2>-Paracelsus</h2>
                    </div>
                        <div class="explore">
                        <h1>Explore</h1>
                        <a href="/"><h2>Home</h2></a>
                        <a href="Remedies.html"><h2>Remedies</h2></a>
                        <a href="Contact.html"><h2>Contact Us</h2></a>
                        <a href="Login.html"><h2>Login</h2></a>
                    </div>
                    <div class="policies">
                        <h1>Legal</h1>
                        <a href="/PrivacyPolicy.html"><h2>Privacy policy</h2></a>
                        <a href="/Termscondition.html"><h2>Terms & Conditions</h2></a>
                        {{!-- <a href="#"><h2>Guidelines</h2></a> --}}
                    </div>
                </div>
            </div>
            <div class="footer2">
                <h1>2021 &copy; <a href="https://github.com/haseebrj17" id="copyrightbtn" target="_blank">Seeb_RJ17</a> | Created by Haseeb Rajpoot</h1>
            </div>
        </section>
    </main>
    <script>
        function removeDiv(btnstate){
            const errDiv = document.getElementById("error");
            errDiv.parentNode.removeChild(errDiv);
        }
    </script>
</body>
</html>