<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/remediesjwt.css">
    <link rel="shortcut icon" type="image/svg" href="fonts/svg/logo1.svg"/>
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    <title>Remedies</title>
</head>
<body>
    {{#if message}}
    <div style="text-align: center;" id="error" class="error alert{{message.type}}">
        <a style="cursor: pointer;" type="button" class="close" id="btnstate" value="Remove" onclick="removeDiv(this)"><img style="width: 1rem; height: 1rem;" type="image/svg" src="fonts/svg/cross-sign.svg" alt="cross"></a>
        <div class="msg"><strong>{{message.intro}}</strong> {{message.message}}</div>
    </div>
    {{/if}}
    <button id="btntop"><i class="material-icons">arrow_upward</i></button> 
    {{>navbar}}
    <main id="swup" class="transition-fade"></main>
    <section class="remedieslanding">
        <div class="bg">
            <div class="mainflexbox">
                <div class="flexbtnandtxt">
                    <h1>Discover New Remedies</h1>
                    <div class="flexbtn">
                        <a href="#scrollimg1" class="btnicon">
                            <div class="btn">
                                <div class="icon1"></div>
                                <h1 class="h1">Herbs</h1>
                            </div>
                        </a>
                        <a href="#scrollimg2" class="btnicon">
                            <div class="btn">
                                <div class="icon2"></div>
                                <h1 class="h2">Diet</h1>
                            </div>
                        </a>
                        <a href="#scrollimg3" class="btnicon">
                            <div class="btn">
                                <div class="icon3"></div>
                                <h1 class="h3">Exercise</h1>
                            </div>
                        </a>                       
                    </div>
                    <h2>Welcome to A’ashab-ul-Hayyat Memeber <br>only area here you can check out the best <br>remedies and secrets for a healthy life. <br> Scroll Down</h2>
                </div>
                <div class="fleximg">
                    <div class="gridimg1">
                        <div class="img1"></div>
                        <div class="img2"></div>
                    </div>
                    <div class="gridimg2">
                        <div class="img3"></div>
                        <div class="img4"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="remsub1" class="remsub1">
        <div class="bgsub1">
            <div class="mainflexsub1">
                <div class="pictxt1" id="scrollimg1">
                    <div class="flexpictxt1">
                        <div class="pic1sub1"></div>
                        <div class="flextxt1sub1">
                            <h1>Echinacea</h1>
                            <h2>Echinacea, or coneflower, is a flowering plant and popular herbal remedy. Originally from North America, it has long been used in Native American practices to treat a variety of ailments, including wounds, burns, toothaches, sore throat, and upset stomach. Most parts of the plant, including the leaves, petals, and roots, can be used medicinally — though many people believe the roots have the strongest effect. Echinacea is usually taken as a tea or supplement but can also be applied topically. Today, it’s primarily used to treat or prevent the common cold, though the science behind this isn’t particularly strong. One review in over 4,000 people found a potential 10–20% reduced risk of colds from taking echinacea, but there’s little to no evidence that it treats the cold after you have caught it. Though insufficient data exists to evaluate the long-term effects of this herb, short-term use is generally considered safe. That said, side effects like nausea, stomach pain, and skin rash have occasionally been reported. You can find echinacea in most supermarkets and health food stores, though you can also buy it <a id="hlginseng" href="https://www.amazon.com/s?k=echinacea&language=en_US&correlationId=07fc18d6-e5af-4e8c-b8cf-cb77a908bbc3&linkCode=ll2&linkId=e56b2f002434f0f4be2c794ae9219e88&tag=nutrition-herbal-medicine-20&ref=nb_sb_noss_1" target="blank">online</a>.</h2>
                        </div>
                    </div>
                </div>
                <div class="pictxt2">
                    <div class="flexpictxt1">
                        <div class="pic1sub1"></div>
                        <div class="flextxt1sub1">
                            <h1>Ginseng</h1>
                            <h2>Ginseng is a medicinal plant whose roots are usually steeped to make a tea or dried to make a powder. It’s frequently utilized in traditional Chinese medicine to reduce inflammation and boost immunity, brain function, and energy levels. Several varieties exist, but the two most popular are the Asian and American types — Panax ginseng and Panax quinquefolius, respectively. American ginseng is thought to cultivate relaxation, while Asian ginseng is considered more stimulating. Although ginseng has been used for centuries, modern research supporting its efficacy is lacking. Several test-tube and animal studies suggest that its unique compounds, called ginsenosides, boast neuroprotective, anticancer, antidiabetes, and immune-supporting properties. Nonetheless, human research is needed. Short-term use is considered relatively safe, but ginseng’s long-term safety remains unclear. Potential side effects include headaches, poor sleep, and digestive issues. Ginseng is available at most health food stores, as well as <a id="hlginseng" href="https://www.amazon.com/s?k=ginseng&language=en_US&correlationId=cae1d3ee-a530-4c5a-8d30-818733d30163&linkCode=ll2&linkId=94e074f1d5f3552cf38f61027c6fd011&tag=nutrition-herbal-medicine-20&ref=nb_sb_noss_2" target="blank">online</a>.</h2>
                        </div>
                    </div>
                </div>
                <div class="pictxt3" id="scrollimg2">
                    <div class="flexpictxt1">
                        <div class="flextxt1sub1">
                            <h1>Eat a variety of foods</h1>
                            <h2>Healthy eating means eating a wide variety of foods from each of the 5 major food groups, in the amounts recommended. The Australian Dietary Guidelines provide up-to-date advice about the types and amount of foods that we need to eat for our health. Eating a variety of foods from the 5 major food groups provides a range of different nutrients to the body, promotes good health and can help reduce the risk of disease - as well as keeping your diet interesting with different flavours and textures. Many of the foods that often feature regularly in modern diets do not form part of the 5 food groups. These foods, sometimes referred to as 'junk' foods, 'discretionary choices' or 'occasional foods' can be enjoyed sometimes, but should not feature regularly in a healthy diet. Fats and oils are high in kilojoules (energy) but necessary for a healthy diet in small amounts. No matter where you're starting, it's easy to make little changes to bring your eating closer in line with the Australian Dietary Guidelines. Just focus on eating foods from the 5 major food groups and reducing your intake of occasional foods.</h2>
                        </div>                        
                        <div class="pic1sub1"></div>
                    </div>
                </div>
                <div class="pictxt4">
                    <div class="flexpictxt1">
                        <div class="flextxt1sub1">
                            <h1>Eat your fruits instead of drinking them</h1>
                            <h2>Fruits are loaded with water, fiber, vitamins, and antioxidants. Studies have repeatedly linked eating fruit to a reduced risk of several health conditions, such as heart disease, type 2 diabetes, and cancer. Because fruits contain fiber and various plant compounds, their natural sugars are generally digested very slowly and don’t cause major spikes in blood sugar levels. However, the same doesn’t apply to fruit juices. Many fruit juices aren’t even made from real fruit, but rather concentrate and sugar. Some varieties may even contain as much sugar as a sugary soft drink. Even real fruit juices lack the fiber and chewing resistance provided by whole fruits. This makes fruit juice much more likely to spike your blood sugar levels, leading you to consume too much in a single sitting.</h2>
                        </div>
                        <div class="pic1sub1"></div>
                    </div>
                </div>
                <div class="pictxt5" id="scrollimg3">
                    <div class="flexpictxt1">
                        <div class="pic1sub1"></div>
                        <div class="flextxt1sub1">
                            <h1>Tai Chi</h1>
                            <h2>This Chinese martial art that combines movement and relaxation is good for both body and mind. In fact, it's been called "meditation in motion." Tai chi is made up of a series of graceful movements, one transitioning smoothly into the next. Because the classes are offered at various levels, tai chi is accessible — and valuable — for people of all ages and fitness levels. "It's particularly good for older people because balance is an important component of fitness, and balance is something we lose as we get older," Dr. Lee says. Take a class to help you get started and learn the proper form. You can find tai chi programs at your local YMCA, health club, community center, or senior center.</h2>
                        </div>
                    </div>
                </div>
                <div class="pictxt6">
                    <div class="flexpictxt1">
                        <div class="pic1sub1"></div>
                        <div class="flextxt1sub1">
                            <h1>Kegel Exercises</h1>
                            <h2>These exercises won't help you look better, but they do something just as important — strengthen the pelvic floor muscles that support the bladder. Strong pelvic floor muscles can go a long way toward preventing incontinence. While many women are familiar with Kegels, these exercises can benefit men too. To do a Kegel exercise correctly, squeeze the muscles you would use to prevent yourself from passing urine or gas. Hold the contraction for two or three seconds, then release. Make sure to completely relax your pelvic floor muscles after the contraction. Repeat 10 times. Try to do four to five sets a day. Many of the things we do for fun (and work) count as exercise. Raking the yard counts as physical activity. So does ballroom dancing and playing with your kids or grandkids. As long as you're doing some form of aerobic exercise for at least 30 minutes a day, and you include two days of strength training a week, you can consider yourself an "active" person.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="remsub2" class="remsub2">
        
    </section>
    <section class="footer">
        <div class="footer1">
            <div class="footercontent">
                <div class="footerlogo">
                    <h1>A’ashab-ul-Hayyat</h1>
                    <h3>"The art of healing comes from nature, <br>not from the physician."</h3>
                    <h2>-Paracelsus</h2>
                </div>
                    <div class="explore">
                    <h1>Explore</h1>
                    <a href="/"><h2>Home</h2></a>
                    <a id="rembtntop2"><h2>Remedies</h2></a>
                    <a href="Contact.html"><h2>Contact Us</h2></a>
                    {{# if loggedIn}}
                        <a href="Logout.html"><h2>Logout</h2></a>
                    {{else}}
                        <a href="Login.html"><h2>Login</h2>></a>
                    {{/if}}
                </div>
                <div class="policies">
                    <h1>Legal</h1>
                    <a href="/PrivacyPolicy.html"><h2>Privacy policy</h2></a>
                    <a href="/Termscondition.html"><h2>Terms & Conditions</h2></a>
                    {{!-- <a href="#"><h2>Guidelines</h2></a> --}}
                </div>
            </div>
        </div>
        <div class="footer2">
            <h1>2022 &copy; <a href="https://github.com/haseebrj17" id="copyrightbtn" target="_blank">Seeb_RJ17</a> | Created by Haseeb Rajpoot</h1>
        </div>
    </section>
    </main>
    <script>
        function removeDiv(btnstate){
            const errDiv = document.getElementById("error");
            errDiv.parentNode.removeChild(errDiv);
        }
    </script>
    <script>
        const btntop = document.querySelector("#btntop");

        btntop.addEventListener("click", function () {
            window.scrollTo(0, 0);
        });  
    </script>
    <script>
        const btntop2 = document.querySelector("#rembtntop2");

        btntop2.addEventListener("click", function () {
            window.scrollTo(0, 0);
        });
    </script>
</body>
</html>