<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/remedies.css">
    <link rel="stylesheet" href="/public/css/master.css">
    <script defer src="/node_modules/swup/dist/swup.min.js"></script>
    <script defer src="/public/js/script.js"></script>
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    <title>Contact Us</title>
</head>
<body>
    {{>navbar}}
    <main id="swup" class="transition-fade">
    <section class="remedieslanding">
        <div class="bg">
            <div class="mainflexbox">
                <div class="flexbtnand">
                    <h1>Discover New Remedies</h1>
                    <div class="flexbtn">
                        <div class="btn1">
                            <div class="icon"></div>
                            <h1 class="h1">Herbs</h1>
                        </div>
                        <div class="btn1">
                            <div class="icon"></div>
                            <h1 class="h1">Diet</h1>
                        </div>
                        <div class="btn1">
                            <div class="icon"></div>
                            <h1 class="h1">Exercise</h1>
                        </div>
                    </div>
                    <h2>By joining you can benefit by getting <br>access to the best secrets for living a <br>healthy life.</h2>
                </div>
                <div class="fleximg">
                    <div class="img1"></div>
                    <div class="img"></div>
                    <div class="img3"></div>
                    <div class="img4"></div>
                </div>
            </div>
        </div>
    </section>
    </main>
</body>
</html>