<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/remedies.css">
    <link rel="stylesheet" href="css/master.css">
    <link rel="shortcut icon" type="image/svg" href="fonts/svg/logo1.svg"/>
    <script defer src="/node_modules/swup/dist/swup.min.js"></script>
    <script defer src="js/script.js"></script>
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    <title>Remedies</title>
</head>
<body>
    {{#if message}}
    <div style="text-align: center;" id="error" class="error alert{{message.type}}">
        <a style="cursor: pointer;" type="button" class="close" id="btnstate" value="Remove" onclick="removeDiv(this)"><img style="width: 10px; height: 10px;" type="image/svg" src="fonts/svg/cross-sign.svg" alt="cross"></a>
        <div class="msg"><strong>{{message.intro}}</strong> {{message.message}}</div>
    </div>
    {{/if}}
    <button id="btntop"><i class="material-icons">arrow_upward</i></button> 
    {{>navbar}}
    <main id="swup" class="transition-fade">
    <section class="remedieslanding">
        <div class="bg">
            <div class="mainflexbox">
                <div class="flexbtnandtxt">
                    <h1>Discover New Remedies</h1>
                    <div class="flexbtn">
                        <a href="#" class="btnicon"> 
                            <div class="btn">
                                <div class="icon1"></div>
                                <h1 class="h1">Herbs</h1>
                            </div>
                        </a>
                        <a href="#" class="btnicon">
                            <div class="btn">
                                <div class="icon2"></div>
                                <h1 class="h2">Diet</h1>
                            </div>
                        </a>
                        <a href="#" class="btnicon">
                            <div class="btn">
                                <div class="icon3"></div>
                                <h1 class="h3">Exrecise</h1>
                            </div>
                        </a>                        
                    </div>
                    <h2>By joining you can benefit by getting <br>access to the best secrets for living a <br>healthy life.</h2>
                </div>
                <div class="fleximg">
                    <div class="gridimg1">
                        <div class="img1"></div>
                        <div class="img2"></div>
                    </div>
                    <div class="gridimg2">
                        <div class="img3"></div>
                        <div class="img4"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="remsub1">
        <div class="bgsub1">
            <div class="mainflexsub1">
                <div class="pictxt1">
                    <div class="flexpictxt1">
                        <div class="pic1sub1"></div>
                        <div class="flextxt1sub1">
                            <h1>Echinacea</h1>
                            <h2>Echinacea, or coneflower, is a flowering plant and popular herbal remedy. Originally from North America, it has long been used in Native American practices to treat a variety of ailments, including wounds, burns, toothaches, sore throat, and upset stomach (2Trusted Source). Most parts of the plant, including the leaves, petals, and roots, can be used medicinally — though many people believe the roots have the strongest effect. Echinacea is usually taken as a tea or supplement but can also be applied topically. Today, it’s primarily used to treat or prevent the common cold, though the science behind this isn’t particularly strong. One review in over 4,000 people found a potential 10–20% reduced risk of colds from taking echinacea, but there’s little to no evidence that it treats the cold after you have caught it (3Trusted Source). Though insufficient data exists to evaluate the long-term effects of this herb, short-term use is generally considered safe. That said, side effects like nausea, stomach pain, and skin rash have occasionally been reported (4Trusted Source). You can find echinacea in most supermarkets and health food stores, though you can also buy it online.</h2>
                        </div>
                    </div>
                </div>
                <div class="pictxt2">
                    <div class="box2sub1">
                        <div class="flexloginbox">
                            <h1>WANT TO KNOW MORE!<br>LOGIN</h1>
                            <a href="Login.html" class="btnlogin">Login</a>
                            <a href="Register.html" class="btnsignup">Register!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
        <section class="footer">
            <div class="footer1">
                <div class="footercontent">
                    <div class="footerlogo">
                        <h1>A’ashab-ul-Hayyat</h1>
                        <h3>"The art of healing comes from nature, <br>not from the physician."</h3>
                        <h2>-Paracelsus</h2>
                    </div>
                        <div class="explore">
                        <h1>Explore</h1>
                        <a href="/"><h2>Home</h2></a>
                        <a id="rembtntop2"><h2>Remedies</h2></a>
                        <a href="Contact.html"><h2>Contact Us</h2></a>
                        <a href="Login.html"><h2>Login</h2></a>
                    </div>
                    <div class="policies">
                        <h1>Legal</h1>
                        <a href="/PrivacyPolicy.html"><h2>Privacy policy</h2></a>
                        <a href="/Termscondition.html"><h2>Terms & Conditions</h2></a>
                        {{!-- <a href="#"><h2>Guidelines</h2></a> --}}
                    </div>
                </div>
            </div>
            <div class="footer2">
                <h1>2022 &copy; <a href="https://github.com/haseebrj17" id="copyrightbtn" target="_blank">Seeb_RJ17</a> | Created by Haseeb Rajpoot</h1>
            </div>
        </section>
    </main>
    <script>
        function removeDiv(btnstate){
            const errDiv = document.getElementById("error");
            errDiv.parentNode.removeChild(errDiv);
        }
    </script>
    <script>
        const btntop = document.querySelector("#btntop");

        btntop.addEventListener("click", function () {
            window.scrollTo(0, 0);
        });  
    </script>
    <script>
        const btntop2 = document.querySelector("#rembtntop2");

        btntop2.addEventListener("click", function () {
            window.scrollTo(0, 0);
        });
    </script>
</body>
</html>