
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex" />
    <title>Terms and Conditions for A&#39;ashab-ul-Hayyat</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="194x194"
      href="/favicon-194x194.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-chrome-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#2ea52c" />
    <meta name="msapplication-TileColor" content="#e9f2ff" />
    <meta name="theme-color" content="#ff0000" />

  </head>
  <body>
    <link rel="stylesheet" href="../../public/css/tc.css" />
    <link
      rel="stylesheet"
      href="../../public/css/tcfonts.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../public/css/tcviews.css" />
    <nav class="navbar navbar-dark bg-primary sticky-top">
      <div class="navbar-brand mx-auto">
        <h1 class="h2 text-center d-block text-uppercase"><i
            class="icon-privacy-1"
          ></i>
          A&#39;ashab-ul-Hayyat<span class="d-none d-sm-inline d-md-none">
            Terms and Conditions</span></h1>

      </div>
    </nav>
    <div class="container my-3 bg-white shadow rounded py-4">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <h2>Welcome to A&#39;ashab-ul-Hayyat</h2>
          <p>These terms of service outline the rules and regulations for the
            use of A&#39;ashab-ul-Hayyat's Website.</p>
          <p>A&#39;ashab-ul-Hayyat is located at:</p>
          <address>
            Islamabad
            <br />44000 - Capital Territory , Pakistan
          </address>
          <p>By accessing this website we assume you accept these terms of
            service in full. Do not continue to use A&#39;ashab-ul-Hayyat's
            website if you do not accept all of the terms of service stated on
            this page.</p>
          <p>The following terminology applies to these Terms of Service,
            Privacy Statement and Disclaimer Notice and any or all Agreements:
            "Client", "You" and "Your" refers to you, the person accessing this
            website and accepting the Company's terms of service. "The Company",
            "Ourselves", "We", "Our" and "Us", refers to our Company. "Party",
            "Parties", or "Us", refers to both the Client and ourselves, or
            either the Client or ourselves. All terms refer to the offer,
            acceptance and consideration of payment necessary to undertake the
            process of our assistance to the Client in the most appropriate
            manner, whether by formal meetings of a fixed duration, or any other
            means, for the express purpose of meeting the Client's needs in
            respect of provision of the Company's stated services/products, in
            accordance with and subject to, prevailing law of Pakistan. Any use
            of the above terminology or other words in the singular, plural,
            capitalisation and/or he/she or they, are taken as interchangeable
            and therefore as referring to same.</p>
          <h2>Cookies</h2>
          <p>We employ the use of cookies. By using A&#39;ashab-ul-Hayyat's
            website you consent to the use of cookies in accordance with
            A&#39;ashab-ul-Hayyat's privacy policy.</p>
          <p>Most of the modern day interactive web sites use cookies to enable
            us to retrieve user details for each visit. Cookies are used in some
            areas of our site to enable the functionality of this area and ease
            of use for those people visiting. Some of our affiliate /
            advertising partners may also use cookies.</p>
          <h2>License</h2>
          <p>Unless otherwise stated, A&#39;ashab-ul-Hayyat and/or it's
            licensors own the intellectual property rights for all material on
            A&#39;ashab-ul-Hayyat. All intellectual property rights are
            reserved. You may view and/or print pages from Aashabulhayyat.com
            for your own personal use subject to restrictions set in these terms
            of service.</p>
          <p>You must not:</p>
          <ol>
            <li>Republish material from Aashabulhayyat.com</li>
            <li>Sell, rent or sub-license material from Aashabulhayyat.com</li>
            <li>Reproduce, duplicate or copy material from Aashabulhayyat.com</li>
          </ol>
          <p>Redistribute content from A&#39;ashab-ul-Hayyat (unless content is
            specifically made for redistribution).</p>
          <h2>Hyperlinking to our Content</h2>
          <ol>
            <li>The following organizations may link to our Web site without
              prior written approval:
              <ol>
                <li>Government agencies;</li>
                <li>Search engines;</li>
                <li>News organizations;</li>
                <li>Online directory distributors when they list us in the
                  directory may link to our Web site in the same manner as they
                  hyperlink to the Web sites of other listed businesses; and</li>
                <li>Systemwide Accredited Businesses except soliciting
                  non-profit organizations, charity shopping malls, and charity
                  fundraising groups which may not hyperlink to our Web site.</li>
              </ol>
            </li>
          </ol>
          <ol start="2">
            <li>These organizations may link to our home page, to publications
              or to other Web site information so long as the link: (a) is not
              in any way misleading; (b) does not falsely imply sponsorship,
              endorsement or approval of the linking party and its products or
              services; and (c) fits within the context of the linking party's
              site.
            </li>
            <li>We may consider and approve in our sole discretion other link
              requests from the following types of organizations:
              <ol>
                <li>commonly-known consumer and/or business information sources
                  such as Chambers of Commerce, American Automobile Association,
                  AARP and Consumers Union;</li>
                <li>dot.com community sites;</li>
                <li>associations or other groups representing charities,
                  including charity giving sites,</li>
                <li>online directory distributors;</li>
                <li>internet portals;</li>
                <li>accounting, law and consulting firms whose primary clients
                  are businesses; and</li>
                <li>educational institutions and trade associations.</li>
              </ol>
            </li>
          </ol>
          <p>We will approve link requests from these organizations if we
            determine that: (a) the link would not reflect unfavorably on us or
            our accredited businesses (for example, trade associations or other
            organizations representing inherently suspect types of business,
            such as work-at-home opportunities, shall not be allowed to link);
            (b)the organization does not have an unsatisfactory record with us;
            (c) the benefit to us from the visibility associated with the
            hyperlink outweighs the absence of A&#39;ashab-ul-Hayyat; and (d)
            where the link is in the context of general resource information or
            is otherwise consistent with editorial content in a newsletter or
            similar product furthering the mission of the organization.</p>
          <p>These organizations may link to our home page, to publications or
            to other Web site information so long as the link: (a) is not in any
            way misleading; (b) does not falsely imply sponsorship, endorsement
            or approval of the linking party and it products or services; and
            (c) fits within the context of the linking party's site.</p>
          <p>If you are among the organizations listed in paragraph 2 above and
            are interested in linking to our website, you must notify us by
            sending an e-mail to
            <a
              href="/cdn-cgi/l/email-protection#147575677c757661787c756d6d756026242625547379757d783a777b79"
              title="send an email to aashabulhayyat2021@gmail.com"
            ><span
                class="__cf_email__"
                data-cfemail="056464766d646770696d647c7c647137353734456268646c692b666a68"
              >[email&#160;protected]</span></a>. Please include your name, your
            organization name, contact information (such as a phone number
            and/or e-mail address) as well as the URL of your site, a list of
            any URLs from which you intend to link to our Web site, and a list
            of the URL(s) on our site to which you would like to link. Allow 2-3
            weeks for a response.</p>
          <p>Approved organizations may hyperlink to our Web site as follows:</p>
          <ol>
            <li>By use of our corporate name; or</li>
            <li>By use of the uniform resource locator (Web address) being
              linked to; or</li>
            <li>By use of any other description of our Web site or material
              being linked to that makes sense within the context and format of
              content on the linking party's site.</li>
          </ol>
          <p>No use of A&#39;ashab-ul-Hayyat's logo or other artwork will be
            allowed for linking absent a trademark license agreement.</p>
          <h2>Iframes</h2>
          <p>Without prior approval and express written permission, you may not
            create frames around our Web pages or use other techniques that
            alter in any way the visual presentation or appearance of our Web
            site.</p>
          <h2>Reservation of Rights</h2>
          <p>We reserve the right at any time and in its sole discretion to
            request that you remove all links or any particular link to our Web
            site. You agree to immediately remove all links to our Web site upon
            such request. We also reserve the right to amend these terms of
            service and its linking policy at any time. By continuing to link to
            our Web site, you agree to be bound to and abide by these linking
            terms of service.</p>
          <h2>Removal of links from our website</h2>
          <p>If you find any link on our Web site or any linked web site
            objectionable for any reason, you may contact us about this. We will
            consider requests to remove links but will have no obligation to do
            so or to respond directly to you.</p>
          <p>Whilst we endeavour to ensure that the information on this website
            is correct, we do not warrant its completeness or accuracy; nor do
            we commit to ensuring that the website remains available or that the
            material on the website is kept up to date.</p>
          <h2>Disclaimer</h2>
          <p>To the maximum extent permitted by applicable law, we exclude all
            representations, warranties and conditions relating to our website
            and the use of this website (including, without limitation, any
            warranties implied by law in respect of satisfactory quality,
            fitness for purpose and/or the use of reasonable care and skill).
            Nothing in this disclaimer will:</p>
          <ol>
            <li>limit or exclude our or your liability for death or personal
              injury resulting from negligence;</li>
            <li>limit or exclude our or your liability for fraud or fraudulent
              misrepresentation;</li>
            <li>limit any of our or your liabilities in any way that is not
              permitted under applicable law; or</li>
            <li>exclude any of our or your liabilities that may not be excluded
              under applicable law.</li>
          </ol>
          <p>The limitations and exclusions of liability set out in this Section
            and elsewhere in this disclaimer: (a) are subject to the preceding
            paragraph; and (b) govern all liabilities arising under the
            disclaimer or in relation to the subject matter of this disclaimer,
            including liabilities arising in contract, in tort (including
            negligence) and for breach of statutory duty.</p>
          <p>To the extent that the website and the information and services on
            the website are provided free of charge, we will not be liable for
            any loss or damage of any nature.</p><h2>Credit &amp; Contact
            Information</h2>
          <p>This Terms of service page was created at
            <a
              style="color:inherit;text-decoration:none;cursor:text;"
              href="https://privacyterms.io/terms-conditions-generator/"
            >privacyterms.io terms & conditions generator</a>. If you have any
            queries regarding any of our terms, please contact us.</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row my-3">
        <div class="col-12 text-center">&copy; 2021 A&#39;ashab-ul-Hayyat</div>
      </div>
    </div>
    <a href="#" class="totop">Scroll To Top</a>

    <script
      data-cfasync="false"
      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script><script type="cdce6b326e4db0e425e42bea-text/javascript">
      var clicky_site_ids = clicky_site_ids || [];
      clicky_site_ids.push(101286173);
    </script>
    <script
      async
      src="//static.getclicky.com/js"
      type="cdce6b326e4db0e425e42bea-text/javascript"
    ></script>
    <noscript>
      <p><img
          alt="Clicky"
          width="1"
          height="1"
          src="//in.getclicky.com/101286173ns.gif"
        /></p>
    </noscript>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
      type="cdce6b326e4db0e425e42bea-text/javascript"
    ></script>
    <script
      src="/js/jquery.cookie.min.js"
      type="cdce6b326e4db0e425e42bea-text/javascript"
    ></script>
    <script type="cdce6b326e4db0e425e42bea-text/javascript">
      jQuery(function() { if ((document.referrer.length != 0 &&
      document.referrer.startsWith('https://' + document.location.hostname) ==
      false) && (typeof $.cookie == "function")) { if ($.cookie('__ref') !=
      'undefined') { $.cookie('__ref', document.referrer, { path:
      '/;SameSite=Lax', secure: true, domain: '.' + window.location.hostname,
      expires: 30 }); } if ($.cookie('__lp') != 'undefined') { $.cookie('__lp',
      window.location.href, { path: '/;SameSite=Lax', secure: true, domain: '.'
      + window.location.hostname, expires: 3 }); } } });
    </script>
    <script
      src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js"
      data-cf-settings="cdce6b326e4db0e425e42bea-|49"
      defer=""
    ></script><script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"rayId":"67aa1ed04ba941f4","version":"2021.7.0","r":1,"token":"3677f8a2b67f4b13a4c9371d34f280ea","si":10}'
    ></script>
  </body>
</html>